<!DOCTYPE html>
<html>
    <head>
        {% include 'admin/templates/head.html.twig' %}
    </head>
    <body class="no-skin">
		<!-- header header  -->
		{% include 'admin/templates/header.html.twig' %}
		<!-- End header header -->
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>
			{% include 'admin/templates/sidebar.html.twig' %}
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Tables</a>
							</li>
							<li class="active">Simple &amp; Dynamic</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>
					<div class="page-content">
						<div class="page-header">
							<h1>
								Tables
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Static &amp; Dynamic Tables
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								{% block body %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'admin/templates/footer.html.twig' %}
		</div>
		
        {% block javascripts %}{% endblock %}
        {% include 'admin/templates/script.html.twig' %}
    </body>
</html>
